/* Nosotros */
.back-image{
    background-image: linear-gradient(-45deg,#e8effa,#ebf1fc,#f0f3f7,#e8eaec);
}
.container__articulo{
    display: flex;
    margin: 0rem 1rem 0 1rem;
    padding-top: 5rem;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    h1{
        color: black;
    }
    p{
        color: black;
    }
    .Imagen-nosotros{
       height: auto;
       width: 400px;
    }
    .articulo__texto{
        margin-top: 1rem;
    }
    .articulo__titulo{
        margin-bottom: 0.7rem;
        font-weight: bold;
    }
}
@media (min-width: 920px){
    .container__articulo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
        .articulo__texto{
            margin-top: 0;
            padding-left: 2rem;
        }
        .articulo__titulo{
            font-size: 3rem;
            margin-bottom: 0.7rem;
            font-weight: bold;
        }
    .Imagen-nosotros{
        height: auto;
        width: 600px;
     }}
}


.articulo__certificados{
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    .certificados-img{
        display: flex;
        justify-content: space-around;
    }
    .certificados-titulo{
        border-top: 1.5px solid black;
        text-align: center;
        font-size: 3rem;
        color: black;
        margin-bottom: 0.7rem;
    }
    .certificados-texto{
        color: black;
    }
    .certificados-img>img{
        width: 150px;
        height: 150px;
    }
    
}
@media (min-width: 1020px){
    .articulo__certificados{
        display: grid;
        grid-template-rows: 1fr 2fr;
        .certificados-img img{
            width: auto;
          height: 200px;

        }

    }
}

.section-empresas{
    padding: 0 2rem 3rem 2rem;
    .empresas__titulo{
        border-top: 1.5px solid black;
        color: black;
        font-size: 3rem;
        text-align: center;
    }
    .empresas__img-logo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 1rem;
        .logo{
            padding: 0.7rem 0;
            justify-self: center;
            height: 100px;
            width: auto;
            border-radius: 0.5rem;
        }
    }
}
@media (min-width: 1020px){
    .section-empresas{
    .empresas__img-logo{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        padding-top: 1rem;
}}
}

.video{
    display: block;
    text-align: center;
    padding: 0 2rem;
    .video-titulo{
        border-top: 1.5px solid black;
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    .video-iframe{
        margin-bottom: 1rem;
    }
}
/* mixin */


