/* General */
body{
    margin: 0;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
}
.navbar{
    margin-bottom: 0;
}
@media (min-width: 768px){
.navbar {
    border-radius: 0;
}}
h3{
    font-family:'Poppins', sans-serif ;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

ul li{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    height: 40px;
    text-decoration: none;
    list-style: none;
    
}
ul li a{
    text-decoration: none;  
    color: rgb(219, 219, 219);
    font-weight: bold;
    
}

body header h1{
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(233, 233, 233);
    
}
h2{
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: white;
}


.iconos a{
    font-size: 40px;
    color: white;
}
.iconos .fab:hover{
    transform: scale(1.1);
}
.iconos i{
    padding-left: 2rem;
}

/* Index */

body footer{
    background-color: rgb(39, 39, 39);
}
body footer address p{
    color: white;
  
} 

address{
    margin: 0;
}
.col.-xl{
    margin: auto;
}

/* Grid */
.textoPrincipal{
    display: grid ;
    grid-template-rows: 1fr 1fr 1fr;

}
.textoPrincipal h1{
    justify-self: self-start;
    padding: 4rem 2rem;
}
.textoPrincipal p{
    padding-left: 2rem;
}

.menuPrincipal{
    display: none;
}

@media only screen and (min-width: 768px){
    .menuPrincipal {
        display: grid;
        grid-template-columns:  1fr 1fr;
        
    }
    .menuPrincipal ul {
        grid-column-start: 2;
        display: grid;
        grid-template-columns: repeat(5,1fr);   
        justify-items: end;
    }
    .menuPrincipal ul li{
        justify-self: center;
        padding: 0 1rem;
    }
}


/* Servicios */


.section__containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 0;
}


.section__container-tarjeta img{
    height: 240px;
    width: auto;   
}
.section__container:first-of-type{
    margin-top: 5em;
}
.section__container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.section__container-tarjeta{
    justify-self: center;
    align-self: center;
    margin: 2.7rem auto;
}
.section__container-tarjeta h3{
    margin-top: 1rem;
    font-weight: bold;
}

@media only screen and (min-width:1020px){
    .section__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section__container-tarjeta{
        display: grid;
        grid-template-rows: 3fr 1fr;
        justify-items: center;
    }}

/* Blog */
.section__blog:first-of-type{
    margin-top: 5em;
}
.section__blog p{
    color: black;
}

.section__blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    
}
.section__blog-titulo{
    margin-top: 1rem;
    font-size: 1.3rem ;
}
.section__blog-img{
    width: 500px;
    height: auto;
}

.section__blog-texto{
    font-weight: lighter;
}
.section__blog-btn{
    text-decoration: none;
    font-weight: 700;
}

@media only screen and (min-width:850px){
    .section__blog{
        margin: 1.5rem 1rem; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
    .section__blog-img{
        width: 600px;
    }
    .section__blog-titulo{
        margin-top: 0;
    }
}

/* Transformaciones */

.navbar-ul li:hover{
    font-size: 1.1rem;
}

.menuPrincipal ul li:hover{
    transform: scale(1.1,1.1);
}

.section__container-tarjeta:hover{
    transform: scale(1.3,1.3);
}

/* ERROR 404 */
.main__error{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.error__titulo{
    display: flex;
    flex-direction: column;
    
    justify-items: center;
    align-items: center;
}
.error__titulo h1,h2{
    color: black;
}

.error__boton{
    background-color:#0d6efd;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-color: black;
    
}
.error__boton a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1em;
}
.error__img{
    height: 300px;
    width: auto;
}

/* Contacto */

.contacto__body{
    background-color: white; 
    font-family: 'Poppins', sans-serif;
}

.container__form{
    margin-top: 5rem;
    padding: 2rem;
    margin-bottom: 3rem;
}

.container__form h2,
.container__form p{
    color: black;
    font-family: 'Poppins', sans-serif;
}


.form__formulario{
    border-radius: 1rem;
    background-color: black;
    color: white;
    max-width: 1160px;
    padding: 1rem;
    box-shadow: 0 0 20px 0 rgba(255,255,255, .3);
}

.formulario-nombre,
.formulario-apellido,
.formulario-email,
.form__formulario textarea{
    width: 100%;
    padding: .5em;
    border: none;
  
}
.formulario-nombre,
.formulario-apellido,
.formulario-email{
    background: none;
    border-bottom: 1px solid #0d6efd;
    color: white;
    margin-bottom: 1rem;
}
.boton{
    margin: .7rem;
    padding: .5rem;
    width: 200px;
    font-weight: 550;
    border-radius: .5rem;
    
}

.boton:hover{
    transform: scale(1.1);
}
.formulario{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    
}


.mapa {
    background-image: url(img/gpsmap.jpg);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
   text-align: center;
   margin-bottom: 1rem;
}
.mapa-titulo{
    margin-bottom: 1rem;
    text-transform: capitalize ;
}

.formulario-select select{
    font-weight: 300;
    margin: 1rem 0 3rem 2.5rem;
    width: 300px;
    height: 40px;
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd ;
    border-radius: 0.4rem;
}
.formulario-select select option{
    font-weight: 300;
    text-align: center;
}
@media only screen and (min-width:1024px){
    .container__form{
        margin-left:10rem;

    }
}
/* Boton wpp */
.float-wpp{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float-wpp:hover{
    color: white;
    transform: scale(1.3);
}

.my-float-wpp{
	margin-top:16px;
}

/* Carrousel */

@media (min-width: 1360px){
    .carousel-item{
        height: 100vh;}

}

.carousel-item{
    
    background: no-repeat scroll center scroll;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.3;
}

.carousel-caption{
    bottom: 130px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 3rem;
    font-weight: 600;
}

.slider-btn{
    margin-top: 30px;
}
.slider-btn:hover{
    transform: scale(1.1);
}

.slider-btn .btn:hover{
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}
.slider-btn .btn {
    background-color:#0d6efd ;
    border-color: #0d6efd;
    color: white;
    border-radius: 1rem;
    padding: 1rem 1.3rem ;
    font-size: 1.2rem;
    font-weight: 500;

}

/* cards */


.card-header h4{
    font-size: 3rem;
}
.card-title h5{
    font-size: 2re;
}
.card-text{
    font-size: 0.8rem;
    color: black;
    margin: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.fas, .far{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 5rem;
}
.card-text-white{
    color: white;
}
.card-body{
    padding-bottom: 3rem;
}






